<div class="container">
  <h1><%= @tactic.name %></h1>

  <div class="row">

    <div class="col-lg-2">

      <table class="table">
          <thead>
              <tr>
                  <td><%= link_to "戦術一覧",tactics_path, method: :get %></td>
                  <td><%= link_to "作成", new_tactic_path, method: :get, class: 'btn btn-sm btn-primary' %></td>
              </tr>
          </thead>

          <tbody>
              <% @tactics.each do |tactic| %>
              <tr>
                  <td>
                    <%= link_to edit_tactic_path(tactic.id), method: :get do %>
                      <%= tactic.name %>
                    <% end %>
                  </td>
                  <td><%= link_to "削除", tactic_path(tactic.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: 'btn btn-sm btn-danger' %></td>
              </tr>
              <% end %>
          </tbody>
      </table>

      <%= paginate @tactics %>

      <%= form_with model: @tactic, url: tactic_path, method: :patch do |f| %>
      <div class="field mt-3">
        <%= f.label :name,"戦術名" %>
        <%= f.text_field :name %>
      </div>
      <div class="form-group mt-3 text-right">
        <%= f.submit "変更", class: "btn-sm btn-success" %>
      </div>
      <% end %>

    </div>

    <div class="field_area col-lg-8">
        <% @elements.each do |element| %>
            <div class="drag-and-drop" id="<%= element.side %>" value="<%= element.id %>" style="top: <%= element.y_coordinate %>; left: <%= element.x_coordinate %>;"><%= element.name %></div>
        <% end %>
        <%= image_tag @field.get_image(700,700) %>
    </div>

    <div class="col-lg-2">
        <table class="table">
            <thead>
                <tr>
                    <td>要素一覧</td>
                    <td><%= link_to "追加", new_element_path(tactic_id: @tactic.id), method: :get, class: 'btn btn-sm btn-primary' %></td>
                </tr>
            </thead>
  
            <tbody>
                <% @elements.each do |element| %>
                <tr>
                    <td><%= element.name %></td>
                    <td><%= link_to "編集", edit_element_path(element.id), method: :get, class: 'btn btn-sm btn-success' %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
  
        <%= form_with model: @tactic, url: tactic_elements_path(@tactic), method: :patch do |f| %>
        <div class="form-group mt-3 text-right">
            <% if @elements.present? %>
            <% @elements.each do |element| %>
                <%= hidden_field_tag "elements[#{element.id}][x_coordinate]", element.x_coordinate,:id => "#{element.id}_x_field" %>
                <%= hidden_field_tag "elements[#{element.id}][y_coordinate]", element.y_coordinate,:id => "#{element.id}_y_field" %>
            <% end %>
                <%= f.submit "位置保存", class: "btn-sm btn-success" %>
            <% end %>
        </div>
        <% end %>
  
    </div>

  </div>

</div>