<div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
  <h1>新規ボード作成</h1>

  <%= form_with model: @tactic, url: tactics_path, method: :post do |f| %>
    <div class="field">
      <%= f.label :name,"戦術名" %>
      <%= f.text_field :name, required: true, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :field_id,"フィールド", required: true %>
      <%= f.select :field_id, options_from_collection_for_select(Field.all, :id, :name), required: true %><br>
    </div>

    <div class="btn-wrapper col-2 mx-auto">

      <div class="actions">
        <%= link_to "一覧", tactics_path, method: :get, class: 'btn-sm btn-secondary' %>

        <%= f.submit "作成", class: 'btn-sm btn-success' %>
      </div>
    </div>
  <% end %>
</div>
