<div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
  <h1>新規ボード作成</h1>

  <%= form_with model: @tactic, url: tactics_path, method: :post do |f| %>
  
  <table class="col-6 mx-auto">
    
    <tr class="field">
      <td><%= f.label :name,"戦術名" %></td>
      <td><%= f.text_field :name, required: true, autofocus: true %></td>
    </tr>

    <tr class="field">
      <td><%= f.label :field_id,"フィールド", required: true %></td>
      <td><%= f.select :field_id, options_from_collection_for_select(Field.all, :id, :name), required: true %></td>
    </tr>
  </table>

  <div class="btn-wrapper col-2 mx-auto">

    <div class="actions">
      <%= link_to "一覧", tactics_path, method: :get, class: 'btn-sm btn-secondary' %>

      <%= f.submit "作成", class: 'btn-sm btn-success' %>
    </div>
  </div>
  <% end %>
</div>
